<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Каталог рослин</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-info">
    <h2>Туренок Олександра, АнД-31, Варіант 16</h2>
    <p>Каталог рослин. Згрупувати за умовами вирощування та побудувати графік максимальної висоти.</p>
  </div>

  <ion-button expand="block" (click)="loadData()">Завантажити дані з хмари</ion-button>

  <div *ngIf="plants.length > 0">
    <ion-list *ngFor="let group of groupedPlants | keyvalue">
      <ion-list-header>
        <ion-label>Умови: {{group.key}}</ion-label>
      </ion-list-header>
      
      <ion-item *ngFor="let plant of group.value">
        <ion-label>
          <h2>{{plant.name}}</h2>
          <p>Висота: {{plant.maxHeight}} см</p>
          <p>{{plant.isPerennial ? 'Багатолітня' : 'Однолітня'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="chart-container">
      <canvas #heightChart></canvas>
    </div>
  </div>
</ion-content>